body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#wrapper {
    position: relative;
    height: auto;
    width: 80%;
}

#callus {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    left: 15%;
    top: 12%;
}

#engfr {
    color: red;
    position: absolute;
    font-weight: bold;
    right: 12%;
    top: 12%;
}

#imagetop {
    width: 100%;
    margin: 0;
    height: 100%;
}

#imageside {
    margin: 0;
    width: 10%;
    height: 100%;
    position: fixed;
    top: 23.5%;
}

#side {
    height: 800px;
    width: 10%;
    position: fixed;
    margin: 0 0;
}

#logo {
    position: absolute;
    top: 25%;
    left: 1%;
    width: 15%;
    z-index: 10;
}

#topslogan {
    position: fixed;
    margin-left: 3%;
    top: 8.5%;
    background-color: #fee801;
    font-style: italic;
    text-transform: uppercase;
    text-align: right;
    width: 100%;
    height: 15%;
}

#lineblanche {
    height: 3%;
    width: 28%;
    margin: 0;
    margin-right: 11.5%;
    margin-top: 0px;
    padding: 0;
}

#wepush {
    font-family: Arial Narrow;
    font-size: 120%;
    font-weight: bold;
    margin: 0;
    margin-right: 15%;
    margin-top: 1%;
    padding: 0;
}

#onpousse {
    font-family: Arial Narrow;
    font-size: 120%;
    color: red;
    font-weight: bold;
    margin: 0;
    margin-right: 11.6%;
    margin-top: 0;
    padding: 0;
}

#icons {
    position: absolute;
    width: auto;
    left: 37%;
    top: 10%;
}

#icons img {
    margin-bottom: 20px;
}

#menulist {
    position: absolute;
    width: 80%;
    margin: 0;
    margin-left: 9%;
    padding: 0;
    display: inline-block;
    background-color: white;
}

#mainmenu li {
    background-color: red;
    border: 2px solid black;
    margin: 0;
    margin-right: 2.7%;
    padding: 0px;
    list-style: none;
    display: inline-block;
    width: 10%;
    height: 30px;
}

#fixed {
    position: fixed;
    top: 0;
    left: 0;
    height:23.5%;
}

#mainmenu {
    position: fixed;
    padding: 30px;
    padding-bottom: 60px;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 30px;
    left: 10%;
    top: 23.5%;
    width: 90%;
    background-color: white;
}

#mainmenu li:hover {
    background-color: gray;
    color: red;
    cursor: pointer;
}

#mainmenu li:active {
    background-color: #fee801;
}

a:active {
    color: red;
}

#fixed a {
    display: block;
    width: 100%;
    color: white;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 0;
    line-height: 200%;
}

#main {
    position: absolute;
    padding: 0px;
    margin-left: 2.5%;
    margin-top: 25%;
    left: 23%;
    top: 10%;
    width: 85%;
    z-index: -200;
    height: auto;
}

#footer p{
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 50%;
    margin-bottom:2%;
    position: absolute
}

#footer>p+p {
    text-decoration: underline;
    margin-left: 80%;
}

#footer p span{
    position: relative;
}
/*ACCUEIL*/

/*code du slider*/
#slides {
    display: none;
}

h1 { color: white }

#slideshow-wrap {
    display: block;
    height: 320px;
    min-width: 460px;
    max-width: 840px;
    margin: auto;
    border: 12px rgba(255,255,240,1) solid;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    margin-top: 20px;
    position: relative;
}

#slideshow-inner {
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    overflow: hidden;
    position: relative;
}

#slideshow-inner>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

#slideshow-inner>ul>li {
    width: 20%;
    height: 320px;
    float: left;
    position: relative;
}

#slideshow-inner>ul>li>img {
    margin: auto;
    height: 100%;
}

#slideshow-wrap input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}

#slideshow-wrap label:not(.arrows):not(.show-description-label) {
    position: absolute;
    left: 50%;
    bottom: -45px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color: rgba(200,200,200,1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

#slideshow-wrap label:not(.arrows):active { bottom: -46px }

#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-5:checked~label[for=button-5] { background-color: rgba(100,100,100,1) }

#slideshow-wrap label[for=button-1] { margin-left: -36px }

#slideshow-wrap label[for=button-2] { margin-left: -18px }

#slideshow-wrap label[for=button-4] { margin-left: 18px }

#slideshow-wrap label[for=button-5] { margin-left: 36px }

#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul { left: 0 }

#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul { left: -100% }

#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul { left: -200% }

#slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>ul { left: -300% }

#slideshow-wrap input[type=radio]#button-5:checked~#slideshow-inner>ul { left: -400% }

label.arrows {
    font-family: 'WebSymbolsRegular';
    font-size: 25px;
    color: rgb(255,255,240);
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: none;
    opacity: 0.7;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    text-shadow: 0px 0px 3px rgba(0,0,0,.8);
}

label.arrows:hover { opacity: 1 }

label.arrows:active { margin-top: -23px }

input[type=radio]#button-1:checked~.arrows#arrow-2, input[type=radio]#button-2:checked~.arrows#arrow-3, input[type=radio]#button-3:checked~.arrows#arrow-4, input[type=radio]#button-4:checked~.arrows#arrow-5 {
    right: -55px;
    display: block;
}

input[type=radio]#button-2:checked~.arrows#arrow-1, input[type=radio]#button-3:checked~.arrows#arrow-2, input[type=radio]#button-4:checked~.arrows#arrow-3, input[type=radio]#button-5:checked~.arrows#arrow-4 {
    left: -55px;
    display: block;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

input[type=radio]#button-2:checked~.arrows#arrow-1 { left: -19px }

input[type=radio]#button-3:checked~.arrows#arrow-2 { left: -37px }

input[type=radio]#button-5:checked~.arrows#arrow-4 { left: -73px }

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    font-family: 'Yanone Kaffeesatz';
    z-index: 1000;
}

.description input { visibility: hidden }

.description label {
    font-family: 'WebSymbolsRegular';
    background-color: rgba(255,255,240,1);
    position: relative;
    left: -17px;
    top: 00px;
    width: 40px;
    height: 27px;
    display: inline-block;
    text-align: center;
    padding-top: 7px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    z-index: 5;
    color: rgb(20,20,20);
}

#slideshow-inner>ul>li:hover .description label { opacity: 1 }

.description input[type=checkbox]:checked~label { opacity: 1 }

.description .description-text {
    background-color: rgba(255,255,230,.5);
    padding-left: 45px;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 15px;
    position: relative;
    top: -35px;
    z-index: 4;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: rgb(20,20,20);
}
.description input[type=checkbox]:checked~.description-text { opacity: 1 }
/*fin du code silder*/

/*debut locov*/
#locov {
    margin: 0 auto;
    position: relative;
    left: 35px;
    width: 800px;
    height: 350px;
    top: 50px;
}
#locov img {
    width: 230px;
    height: 160px;
    border: 2px solid red;
}
#bloc,
#bloc1,
#bloc2,
#bloc3,
#bloc4,
#bloc5 {
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
    width: 300px;
    font-style: italic;
}
#text,
#text1,
#text2,
#text3,
#text4,
#text5 {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    margin-bottom: 1px;
    color: red;
}
#bloc1 {
    float: right;
    bottom: 170px;
    margin-right: 250px;
}
#bloc2 {
    float: right;
    margin-left: 500px;
    bottom: 343px;
}
#bloc4 {
    float: right;
    bottom: 330px;
    margin-right: 250px;
}

#bloc5 {
    float: right;
    bottom: 503px;
    margin-left: 260px;
}
#bloc3 {
    top: 15px;
}
/* fin locov*/

/* fin contenu*/

#contenu {
    position: relative;
    background-color: #fee801;
    height: 50%;
    margin-top: 50px;
    background-image: url(images/dumbells.png);
    background-repeat: no-repeat;
    border: 2px solid red;
    margin-left: 30px;
    margin-right: 110px;
    bottom: 15px;
}
#par {
    font-family: arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    position: absolute;
    left: 35%;
}
 #para {
     font-family: arial, sans-serif;
     font-style: italic;
     font-weight: bold;
     font-size: 18px;
     position: absolute;
     left: 42%;
     top: 20%;
}

h4 {
    position: absolute;
    top: 110px;
    right: 60px;
    font-size: 22px;
    text-align: center;
    font-style: italic;
    color: red;
}

#contenu img {
    position: absolute;
    height: 80%;
    width: 150px;
    border: none;
    top: 18px;
    margin-left: 10px;
}
#contenu #bouton{
    position: relative;
    bottom: 18%;
    left: 45%;
    font-family: arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}
#bouton #oui{
    position: relative;
    left: 35px;
}
/*fin contenu*/

#transforme{
    position: relative;
    margin-top: 27%;
    left: 11%;
    width: 800px;
    height: 340px;
    color: red;

}
#transforme h2{
    position: relative;
    top: 25%;
    left: 27%;
    font-family: arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#img2{
    position: relative;
    top: 18%;

    text-align: center;
    height: 300px;
}
#transforme img{
    position: relative;
    left: 225px;
    width: 15%;
    border: none;
    height: 80%;
}
/*debut adresse*/
#pas {
    font-family: arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: red;
    position: relative;
    margin-top: 10% ;
    left: 150px;
    display: inline-block;
    width: 75%;
    font-size: 20px;

}
#fin{

    position: relative;
    margin: 0 auto;
    left: 16%;
    font-family: arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: red;
    line-height: 30px;

}

#fin1,#fin2,#fin3{
    display: inline-block;
    width: 200px;
    vertical-align: top;
    font-size: 13px;

}

#fin2 {
    margin-left: 30px;
    margin-right: 30px;
}
#tableau{
   text-align: center;
    margin: 0 auto;
    margin-top: 5%;
}
#tableau ul{
    display: inline-block;
    margin-left: 3%;
    text-align: center;
}
#tableau li{
    font-size: 10px;
}
#ligtbox {
    text-align: center;
}
#ligtbox img{
    position: relative;
    left: 35%;
    width: 40px;
    height: 40px;
}
#ligtbox input{
    position: relative;
    left: 35%;

}
#ligtbox #b1{
    display: inline-block;
    width: 30%;
    margin-right: 30px;

}
#ligtbox #b2{
    display: inline-block;
    width: 30%;
}

/*BOUTIQUE*/

.description {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-bottom: 0;
}

.produit {
    display: inline-block;
    width: 300px;
}

.boutique img{margin: 15px 20px;
}

.prix>h3 {
    display: inline;
    width: 50px;
}

.prix>h2 {
    display: inline;
    width: 50px;
    margin-left: 30px;
    color: red;
}

.livrason {
    font-size: 15px;
    margin-top: 40px;
}

li{list-style-type: none;


}
.boutique{border: 3px solid red;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
}
#main ul{
    padding: 0;
}

/*STYLESHEETS OLGA*/

/*GALERIE*/

#galerie>ul {
    list-style: none;
}

#galerie>ul>li {
    display: inline-block;
    width: 300px;
    margin-bottom: 50px;
    margin-left: 15px;

}
#galerie img{border: 3px solid red;}

/*HORAIRE*/

#headlinetable {
    text-align: center;
}

#headlinetable h1 {
    color: red;
    font-style: italic;
    margin-top: 15px;
    padding: 0;
}

#headlinetable h2 {
    font-style: italic;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 10px;
}

#horaire {
    margin: 0 auto;
    margin-bottom: 70px;
    border-collapse: collapse;
    width: 90%;
    text-align: center;
}

th {
    padding: 10px;
    color: grey;
    font-weight: bold;
    font-style: italic;
    border-bottom: 1px solid grey;
}

td {
    font-style: italic;
    font-size: 15px;
    line-height: 25px;
    width: 10%;
    padding: 10px;
    border-bottom: 1px solid grey;
    padding: 8px 2px;

}

td:hover {
    background: #ccddff;
}

/*PRODUIT*/

#description5 {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin-bottom: 0;
}

h3+p {
    color: gray;
    font-style: italic;
}

#leanfit {
    display: inline-block;
    width: 300px;
}

#leanfit >h3 {
    color:red;
    font-style: italic;
}

#prix>h3 {
    display: inline;
    width: 50px;
}

#prix>h2 {
    display: inline;
    width: 50px;
    margin-left: 30px;
    color: red;
}

#livrason {
    font-size: 15px;
    margin-bottom: 0;
    padding: 0;
}

#caracteristiques+p {
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 0;
}

#caracteristiques >h5 {
    color: red;
    font-style: italic;
    font-size: 16px;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

#livrason {
    font-size: 12px;
}

#caracteristiques >p, ul {
    font-size: 15px;
    font-style: italic;
    padding: 5px;
    margin: 0;
}

h5+ul {
    list-style: circle;
}

/*FORMULAIRE*/

#formulaire{
    width: 90%;
    margin: 0 auto;
}

legend{color: red;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-bottom: 40px;
}

fieldset{
    width: 70%;
    margin: 0 auto;
    border: 5px solid red;
    text-align: center;
    margin-top:50px;
}
#formulaire span{
    display: block;
    margin-bottom: 20px;
}
.f1{
    width: 38%;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
}
#nom,#ville,#code,#cell{
    margin-left: 40px;
}
#courriel{
    position: relative;
    right: 8px;
}
#rad{
    display: inline-block;
    margin-left: 45px;
    color: red;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

#groupe{
    position: relative;
    right: 155px;
    top: 20px;
}
#formulaire label{
    display: inline-block;
    width: 120px;
    color: red;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, sans-serif;

}
#temps{
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: red;
    margin: 0 auto;
    margin-top: 40px;
}
#oui {
    margin-right: 40px;
}
#moment{
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: red;
}
#commentaire{
    margin-right: 110px;
    margin-top: 30px;
}
#formulaire strong{
    position: relative;
    bottom: 135px;
    margin: auto;
}
#soumettre{
    margin-left: 80px;
}

/* FITNESS TEST*/

#fittest fieldset{
    border: 3px solid red;
    text-align: center;
}

.button_test {
    background-color: red;
    border:2px solid black;
    display:inline-block;
    color:white;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    font-style: italic;
    height:30px;
    line-height:27px;
    width:130px;
    text-decoration:none;
    text-align:center;

}
.button_test:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911) );
    background:-moz-linear-gradient( center top, #f2ab1e 5%, #f0c911 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911');
    background-color:#f2ab1e;
}.button_test:active {
     position:relative;
     top:1px;
 }

#fittest div {
    margin-top: 30px;
    border-bottom: 1px solid black;
}

#fittest li {
    padding: 10px;
    text-align: left;
    margin-left: 200px;

}

.test_result p {
    text-align: left;
    margin-left: 200px;


}

#footer a{color: red}

#footer a:hover{color: blue}

/*equipe*/
 #nutrition img {
       width: 100%;
       text-align: center;
       margin-top: 5%;
       border: 2px solid red;
       position: relative;
       z-index: 1;
 }
#nom1{
    position: absolute;
    z-index: 2;
    top: 22%;
    left: 72%;
    text-align: center;
    font-family: arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: red;

}
#nom2{
   position: relative;
    z-index: 2;

    top: 25%;
}

#nutri p{
    text-align: justify;
    line-height: 2;
}
#nutri h2{
    text-align: center;
    color: red;
    margin-top: 7%;
    font-family: arial, sans-serif;
    font-style: italic;
    font-weight: bold;
}

